<div id="bookings-conflict-modal" class="modal bs-example-modal-md"
    tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">
                   Booking Conflicts
                </h4>
            </div>
            <div class="modal-body">
                <p>Please accept one booking. The rest will be rejected automatically!</p>
                <ul class="list-unstyled" id="conflicting-bookings">
                
                </ul>                            
                <hr>                
                <button class="btn btn-default text-center" id="reject-all">
                    <span class="glyphicon glyphicon-remove"></span>Reject all
                </button>                
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>