<div class="navbar navbar-new navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-header-new col-md-2 col-sm-12 text-center">
            <a class="navbar-brand" href="#companyProfile"><img alt="Where is what"
                src="src/img/logo.png"></a>
        </div>

        <div class="col-md-7 col-sm-12">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-nav-new">
                    <li><a href = "#">DASHBOARD</a></li>
                    <li><a href = "#items">ALL ITEMS </a></li>
                    <li><a href = "#bookings">BOOKINGS</a></li>
                    <li><a href = "#users">USERS</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control typeahead" placeholder="Search...">
        </div>
        <div class="col-md-1"></div>
    </div>
</div>