<!-- Bookings Container -->
<div class="col-md-10 clearfix content">
    <div id="booking">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Pending requests</h1>
                </div>
                <h5 id="current-day"></h5>
                <ul class="latest-requests clearfix list-unstyled"></ul>
                <a id="total-number-bookings" href="#bookings"></a>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Overdue items</h1>
                </div>
                <div class="spacer-horizontal"></div>
                <ul class="overdue-items clearfix list-unstyled">
                </ul>
                <a id="total-number-overdue" href="#bookings"></a>
            </div>
        </div>
    </div>
    <div id="history">
        <div class="history-header"></div>
        <div class="history-content"></div>
    </div>
</div>
<!-- Bookings Container/ -->

