<% if (modalId == 'edit-account') { %>
    <form id="edit-user-account-form"class="form-horizontal"
      enctype="multipart/form-data" action="#">
<% }else if( modalId == 'add-user'){ %>
      <form id="add-user-form" class="form-horizontal"
        enctype="multipart/form-data">
    <% } else { %>
      <form id="edit-user-form" class="form-horizontal"
        enctype="multipart/form-data" action="#">
<% } %>
    <fieldset>
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="username">
                    Username
                </label>
                <div class="col-sm-9">
                    <% if (loggedUserId != id && modalId != 'add-user') {%>
                        <input class="form-control" id="username"
                               type="text" value="<%=username%>"
                               disabled>
                    <% } else { %>
                        <input class="form-control" id="username"
                               name="username" type="text"
                               value="<%=username%>">
                    <% } %>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">
                    Email
                </label>
                <div class="col-sm-9">
                    <% if (loggedUserId != id && modalId != 'add-user') {%>
                        <input class="form-control" id="email"
                           type="text" value="<%=email%>"
                           disabled>
                    <% } else { %>
                        <input class="form-control" id="email"
                           type="text" name="email"
                           value="<%=email%>">
                    <% } %>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="first-name">
                    First Name
                </label>

                <div class="col-sm-9">
                    <% if (loggedUserId != id && modalId != 'add-user') {%>
                        <input class="form-control" id="first-name"
                           type="text" value="<%=first_name%>"
                           disabled>
                    <% } else { %>
                        <input class="form-control" id="first-name"
                           name="first_name" type="text"
                           value="<%=first_name%>">
                    <% } %>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="last-name">
                    Last Name
                </label>

                <div class="col-sm-9">
                    <% if (loggedUserId != id && modalId != 'add-user') {%>
                        <input class="form-control" id="last-name"
                            type="text" value="<%=last_name%>"
                            disabled>
                    <% } else { %>
                        <input class="form-control" id="last-name"
                            name="last_name" type="text"
                            value="<%=last_name%>">
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="title">
                    Phone
                </label>

                <div class="col-sm-9">
                    <% if (loggedUserId != id && modalId != "add-user") {%>
                        <input class="form-control" id="phone"
                           name="phone_number" type="text"
                           value="<%=phone_number%>" disabled>
                    <% } else { %>
                        <input class="form-control" id="phone"
                           name="phone_number" type="text"
                           value="<%=phone_number%>">
                    <% } %>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group form-img-frame">

                <div class="user-modal-img text-center">
                <% if ( (typeof image_uid !='undefined') && (image_uid != "") &&
                  (image_uid != "[object HTMLInputElement]") && (image_uid)) { %>
                    <img alt="<%=name%>" class="img-<%=modalId%>"
                        src="<%=image_uid%>">
                <% } else { %>
                    <img alt="name" class="img-<%=modalId%>" src="src/img/dummyicon.png">
                <% } %>
                </div>

                <% if ((modalId == 'add-user' || modalId == 'edit-account') || (modalId == 'edit-user' && loggedUserId == id )) {%>
                    <input class="file_field" id="<%=modalId%>-image_to_upload"
                      type="file" title="Select image">
                <% }  %>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="title">
                    Job Title
                </label>


                <div class="col-sm-10">
                    <select class="form-control select-title"
                            name="title">
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Department
                </label>

                <div class="col-sm-10">
                    <select class="form-control select-department"
                            name="department_id">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Location</label>

                <div class="col-sm-10">
                    <select class="form-control select-location"
                            name="location_id">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="role">
                    Role
                </label>

                <div class="col-sm-10">
                    <% if (modalId == 'add-user' || (loggedUserId != id && modalId != 'add-user') ) {%>
                        <select class="form-control select-roles" id="role" name="role" >
                        </select>
                    <% } else { %>
                        <select class="form-control select-roles" id="role" name="role" disabled >
                        </select>
                    <% } %>
                </div>
            </div>

        </div>
    </fieldset>

    <div class="modal-footer">
        <ul class="list-unstyled clearfix group-btn-options">
            <li>
                <input class="btn btn-default pull-left"
                      id="update-user-<%=modalId%>" type="submit"
                      value="<%=action%>">
                </input>
            </li>
            <li><span>or</span></li>
            <li>
                <a class="reset-inputs-<%=modalId%> button" href="#">
                   <input type="reset" >
                </a>
            </li>
        </ul>
    </div>
</form>