<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header col-md-2 col-sm-12">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#companyProfile"><img alt="Where is what"
                src="src/img/logo.png"></a>
        </div>

        <div class="col-md-10 col-sm-12">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href = "#companies">EVO</a></li>
                    <li><a href = "#items">ALL ITEMS </a></li>
                    <% if (role != 'company_user') { %>
                        <li><a href = "#bookings">BOOKINGS</a></li>
                        <li><a href = "#reviews">REVIEWS</a></li>
                    <% } %>
                    <% if (role != 'company_user') { %>
                        <li><a href = "#users">USERS</a></li>
                    <% } %>
                    <li><a href = "#locations">LOCATIONS</a></li>
                    <li><a href = "#departments">DEPARTMENTS</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
</div>

