<div class="col-md-12">
	<h1>Company Profile</h1>
</div>

<div class="col-md-12" id="upload-image-container">
</div>

<div class="profile-name">
	<div class="row">
		<div class="col-md-3">
			<h2>Name</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Full company name:</label>
		</div>
		<div class="col-md-9">
			<span>Mock Full Name</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Short Company Name:</label>
		</div>
		<div class="col-md-9">
			<span>Mock Short Name</span>
		</div>
	</div>
</div>

<div class="profile-locations">
	<div class="row">
		<div class="col-md-3">
			<h2>Locations</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Mock Main Building:</label>
		</div>
		<div class="col-md-9">
			<span>Mock Full Address 1</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Mock Gamma Building:</label>
		</div>
		<div class="col-md-9">
			<span>Mock Full Address 2</span>
		</div>
	</div>
</div>

<div class="profile-departments">
	<div class="row">
		<div class="col-md-3">
			<h2>Departments</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Mock Perl Department</label>
		</div>
		<div class="col-md-9">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Mock Web Department</label>
		</div>
		<div class="col-md-9">
		</div>
	</div>
</div>
