<div class="user-info pull-left">
    <figure>
        <img src="src/img/user.jpg" alt="">
        <div class="btn-group">
            <div class="options dropdown-toggle" data-toggle="dropdown">
            </div>
            <ul class="dropdown-menu">
                <li><a href="edit-account.html">Edit account</a></li>
                <li><a href="logout.html">Logout</a></li>
            </ul>
        </div>
    </figure>

    <h3>wqeqwe Bond</h3>

    <p><span class="label-blue">Developer</span></p>
</div>