<div class="row">
    <div class="col-md-10 content clearfix">
        <div class="page-header">
            <!-- Breadcrums -->
            <ol class="breadcrumb clearfix"></ol>
        </div>
        <div class="spacer-horizontal-quarter"></div>
        <div class="col-md-12">
            <div class="col-md-3 text-center">
                <figure>
                <% if(image_uid) { %>
                    <img src="<%=image_uid%>" alt="">
                <% } else { %>
                    <img class="user-details-img" alt="title" src="src/img/dummyicon.png">
                <% } %>
                </figure>
                <div class="spacer-horizontal-half"></div>
            </div>
            <div class="col-md-3">
                <h1><%=first_name%> <%=last_name%></h1>
                <h2 class="text-muted"><%=title%></h2>
                <div class="spacer-horizontal-half"></div>
                <ul class="list-unstyled">
                    <li id="location"><strong>Location:</strong> <%=location_name%></li>
                    <li><strong>Department:</strong> <%=department_name%></li>
                </ul>
                <ul class="list-unstyled">
                    <li><strong>Username:</strong>  <%=username%></li>
                    <li><strong>Email:</strong> <a href=""><%=email%></a></li>
                </ul>
                <ul class="list-unstyled">
                    <li><strong>Company:</strong> Evozon Cluj Napoca</li>

                </ul>
            </div>
            <% if (_.contains(roles, role) && (loggedUserRole != 'company_user' || loggedUserId == id)) { %>
            <div class="col-md-6 pull-right">
                <ul class="list-unstyled clearfix group-btn-options pull-right">
                    <li>
                       <button class="btn btn-default pull-left edit-user"
                        data-target="#edit-user-modal" data-toggle="modal">Edit</button>
                    </li>
                    <% if(account_status == "Active") { %>
                        <% if (loggedUserRole == 'company_super_admin' && loggedUserId != id) { %>
                            <li>
                                <button class="btn btn-default pull-left suspend-user"data-target="#suspend-user-alert"data-toggle="modal">Suspend account
                                </button>
                            </li>

                            <li>
                                <button class="btn btn-default pull-left close-user" data-target="#close-user-alert"data-toggle="modal">Close account
                                </button>
                            </li>
                        <% } %>
                    <% } else {%>
                        <li>
                            <button class="btn btn-default pull-left reactivate-user-alert" data-target="#reactivate-user-alert"data-toggle="modal">Reactivate
                            </button>

                        </li>

                    <%} %>
                </ul>
            </div>
            <% } %>
        </div>
        <div class="spacer-horizontal"></div>
        <!--Calendar-->
        <div class="col-md-12 clearfix">
            <h2 class="section-title">Bookings</h2>
            <div class="spacer-horizontal-half"></div>
            <div id='calendar' class='weekView col-md-12 clearfix'>
            </div>
        </div>
        <div class="spacer-horizontal-half"></div>
        <!-- Booking History -->
        <div class="col-md-12 clearfix">
            <ul class="list-unstyled clearfix" id="booking-history"></ul>
            <a href="#bookings">See all bookings</a>
            <i class="sprite-icon-next"></i>
        </div>
        <!--Reviews-->
        <div class="spacer-horizontal"></div>
        <div class="nav-tabs clearfix col-md-12">
             <!-- Nav tabs -->
            <h2 class="section-title">Reviews</h2>
        </div>
        <div class="spacer-horizontal-half"></div>
        <div class="user-reviews col-md-12">
                <ul class="list-unstyled" id="item-reviews"></ul>
                <div class="spacer-horizontal-half"></div>
                 <div id="all-reviews">
                    <a href="#reviews">See all reviews</a>
                    <i class="sprite-icon-next"></i>
                </div>
                <div id="no-reviews" class="hide">
                    <p>There are no reviews posted by this user</p>
            </div>
        </div>
    </div>
</div>